<div id="google-maps-container"></div>
<ul id="filters-container">
  <p class="filter-group-label">Find locations with:</p>
  <li>
    <input type="checkbox" id="filter-heat-switch" data-filter-value="heat" />
    <label for="filter-heat-switch">Heat</label>
  </li>
  <li>
    <input type="checkbox" id="filter-water-switch"
        data-filter-value="water" />
    <label for="filter-water-switch">Water</label>
  </li>
  <li>
    <input type="checkbox" id="filter-electricity-switch"
        data-filter-value="electricity" />
    <label for="filter-electricity-switch">Electricity</label>
  </li>
  <li>
    <input type="checkbox" id="filter-food-switch" data-filter-value="food" />
    <label for="filter-food-switch">Food</label>
  </li>
</ul>
