html.map, html.map body {
  width: 100%;
  height: 100%;
}

html.map {
  body {
    display: flex;
    flex-direction: column;
  }

  #page-body {
    flex: auto;

    display: flex;
    flex-direction: column;
  }
}

#google-maps-container {
  flex: auto;
}
