.nutrition-facts {
  border: 1px solid black;
  padding: 0.5rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  .serving-info {
    .title {
      font-weight: bolder;
      font-size: 3rem;
    }

    .serving-size, .per-container {
      font-size: 1.5rem;
      line-height: 1.2;
    }
  }

  .calorie-info {
    .title {
      border-top: 1rem solid black;
      font-weight: bolder;
    }

    .quantities {
      border-top: 2px solid black;

      .total-calories {
        font-weight: bolder;
      }
    }
  }

  .key-nutrients {
    .header {
      border-top: 0.5rem solid black;
      font: 6pt;
    }

    .main-category {
      border-top: 2px solid black;

      .input-label {
        font-weight: bolder;
      }
    }

    .sub-category {
      margin-left: 0.8rem;
      border-top: 1px solid black;
    }
  }

  .vitamins-minerals {
    .first-nutrients-row {
      border-top: 0.8rem solid black;
    }

    .nutrients-row {
      border-top: 1px solid black;
    }
  }

  .footnote {
    .dv-note {
      padding: 1rem;

      p {
        font-size: 0.8rem;
      }
    }
  }
}
